In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creating an empty dataframe
data = pd.DataFrame()

# creating the features 
data['No_of_pairs_of_shoes'] = [5,4,5,6,8,7,9,8] 
data['No_of_cloths'] =[30, 25,70,40 ,100,90,80,60]
data['total_gadgets_owned'] = [5,6,2,10,6,8,2,9]

# creating the target variable
data['Gender'] = ['male', 'male', 'male', 'male','female','female','female','female']

# displaying the variables
data

   No_of_pairs_of_shoes  No_of_cloths  total_gadgets_owned  Gender
0                     5            30                    5    male
1                     4            25                    6    male
2                     5            70                    2    male
3                     6            40                   10    male
4                     8           100                    6  female
5                     7            90                    8  female
6                     9            80                    2  female
7                     8            60                    9  female

In [4]:
# create an empty dataframe
person = pd.DataFrame()
#create some feature values for this single row

person['No_of_pairs_of_shoes'] = [6]
person['No_of_cloths'] = [50]
person ['total_gadgets_owned'] = [3]

person

   No_of_pairs_of_shoes  No_of_cloths  total_gadgets_owned
0                     6            50                    3

In [7]:
# number of males
no_male = data['Gender'][data['Gender'] == 'male'].count()
no_male

4

In [8]:
# number of females

no_female = data['Gender'][data['Gender'] == 'female'].count()
no_female

4

In [9]:
total_people = data['Gender'].count()
total_people

8

In [12]:
# number of males divided by the total 

prob_male = no_male/total_people

# number of females divided by the total
prob_female = no_female/total_people

In [13]:
# group the data by gender and calculate the means of the each feature
data_means = data.groupby('Gender').mean()

# view the values
data_means

        No_of_pairs_of_shoes  No_of_cloths  total_gadgets_owned
Gender
female                   8.0         82.50                 6.25
male                     5.0         41.25                 5.75

In [14]:
# group the data by gender and calculate the variance of the each feature
data_variance = data.groupby('Gender').var()

# view the values
data_variance

        No_of_pairs_of_shoes  No_of_cloths  total_gadgets_owned
Gender
female              0.666667    291.666667             9.583333
male                0.666667    406.250000            10.916667

In [15]:
# Means for male
male_no_shoes_mean = data_means['No_of_pairs_of_shoes'][data_variance.index == 'male'].values[0]
male_no_cloths_mean = data_means['No_of_cloths'][data_variance.index == 'male'].values[0]
male_total_gadgets_mean = data_means['total_gadgets_owned'][data_variance.index == 'male'].values[0]

# Variance for male
male_no_shoes_variance = data_variance['No_of_pairs_of_shoes'][data_variance.index == 'male'].values[0]
male_no_cloths_variance = data_variance['No_of_cloths'][data_variance.index == 'male'].values[0]
male_total_gadgets_variance = data_variance['total_gadgets_owned'][data_variance.index == 'male'].values[0]

# Means for female
female_no_shoes_mean = data_means['No_of_pairs_of_shoes'][data_variance.index == 'female'].values[0]
female_no_cloths_mean = data_means['No_of_cloths'][data_variance.index == 'female'].values[0]
female_total_gadgets_mean = data_means['total_gadgets_owned'][data_variance.index == 'female'].values[0]

# Variance for female
female_no_shoes_variance = data_variance['No_of_pairs_of_shoes'][data_variance.index == 'female'].values[0]
female_no_cloths_variance = data_variance['No_of_cloths'][data_variance.index == 'female'].values[0]
female_total_gadgets_variance = data_variance['total_gadgets_owned'][data_variance.index == 'female'].values[0]

In [16]:
# Create a function that calculates p(x | y):
def p_x_y(x, mean_y, variance_y):

    # Input the arguments into a probability density function
    p = 1/(np.sqrt(2*np.pi*variance_y)) * np.exp((-(x-mean_y)**2)/(2*variance_y))
    
    # return p
    return p

In [17]:
# Numerator of the posterior if the unclassified observation is a male
prob_male * \
p_x_y(person['No_of_pairs_of_shoes'][0], male_no_shoes_mean, male_no_shoes_variance) * \
p_x_y(person['No_of_cloths'][0], male_no_cloths_mean, male_no_cloths_variance) * \
p_x_y(person ['total_gadgets_owned'][0], male_total_gadgets_mean, male_total_gadgets_variance)

0.0001775133492772894

In [19]:
prob_female * \
p_x_y(person['No_of_pairs_of_shoes'][0], female_no_shoes_mean, female_no_shoes_variance ) * \
p_x_y(person['No_of_cloths'][0], female_no_cloths_mean, female_no_cloths_variance) * \
p_x_y(person['total_gadgets_owned'][0], female_total_gadgets_mean, female_total_gadgets_variance)

3.450987946920839e-06

In [21]:
# it shows that it is most likely to be male.

In [22]:
# reference:  https://chrisalbon.com/machine_learning/naive_bayes/naive_bayes_classifier_from_scratch/